nav a:visited,
nav a:link {
  color: var(--text-para);
  text-decoration: none;
  color: var(--text-light);
  font-family: "Poppins", sans-serif;
}
nav a:hover {
  color: var(--text-secondary);
}
.courses--h1 {
  height: 40vh;
  width: 100wh;
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.courses--informatii {
  height: 62vh;
  margin-top: 2rem;
}
.courses--informatii h2 {
  display: flex;
  justify-content: center;
}
.card-title {
  color: var(--text-primary);
  font-weight: bold;
}
.container--card {
  display: flex;
  justify-content: space-between;
}
